/* 自定义样式 - 必须在最前面 */
@use './base.scss';

/* Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* 补充自定义重置 */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 主题色
$primary-color: #1677ff;
$table-header-bg: #f5f7fa;
$table-header-text: #909399;
$table-row-text: #303133;
$title-color: #303133;

// ================================
// 工具类 - 文本颜色
// ================================

.text-primary {
  color: $primary-color !important;
}
.bg-primary {
  background-color: $primary-color !important;
}
// 表格样式
.template-table {
  height: 100%;
  .el-table__header-wrapper {
    .el-table__header {
      th {
        background-color: $table-header-bg !important;
        color: $table-header-text;
      }
    }
  }
  .el-table__body-wrapper {
    min-height: 120px;
    max-height: 1280px;
    overflow-y: auto;
    font-size: 14px;
    color: $table-row-text;
  }
}

// ================================
// 删除弹出框自定义消息框样式
// ================================
.custom-message-box {
  padding: 16px;
  border-radius: 8px !important;
  .el-message-box__header {
    padding: 20px 20px 10px 20px;
    border-bottom: none;
    .el-message-box__headerbtn {
      width: 64px;
      height: 48px;
    }
    .el-message-box__title {
      font-size: 16px;
      font-weight: 600;
      color: $title-color;
    }
  }
  .el-message-box__content {
    padding: 16px 16px 16px 0px;
    .el-message-box__container {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      .el-message-box__status {
        margin-right: 0;

        svg {
          width: 20px;
          height: 20px;
        }
      }
      .el-message-box__message {
        font-size: 14px;
        color: #606266;
        line-height: 1.5;
        flex: 1;

        p {
          margin: 0;
        }
      }
    }
  }
  .el-message-box__btns {
    justify-content: flex-end;
    gap: 12px;
    padding-top: 16px;
    .el-button {
      margin-left: 0;
      height: 32px;
      border-radius: 6px;
      &.el-button--primary {
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
}


.info-btn {
  height: 32px;
  border-radius: 6px;
  border: 1px solid #DCDFE6;
  color: #303133;
  background-color: #fff;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  &:hover {
    border-color: #9f9f9f;
  }
}
.plain-btn {
  height: 32px;
  border-radius: 6px;
  border: 1px solid #c5ddff;
  color: #1677ff;
  background-color: #ecf5ff;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  &:hover {
    border-color: #1677ff;
  }
}
.primary-btn {
  height: 32px;
  border-radius: 6px;
  background-color: #1677ff;
  color: #fff;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
